#center {
    width:200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}
#center2 {
    width:200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin-top:10vh;
}
#container {
     text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}
* {
    font-family: 'Do Hyeon', sans-serif;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body {
    background-image: url(wallpaper.jpg);
}